{% load static %}
<div class="row question">
    <div class="col-2">
        <div>
            <img src="{{ question.author.avatar.url }}">
        </div>
        <div class = "like">
            <a href="#" class="js-vote arrow up js-{{ question.id }}" data-action="like" data-qid="{{ question.pk }}"></a>
            {% if question.rating %}
            <div class = "vote q-{{ question.id }}">{{ question.rating }}</div>
            {% else %}
            <div class = "vote q-{{ question.id }}">{{ 0 }}</div>
            {% endif %}
            <a href="#" class="js-vote arrow down js-{{ question.id }}" data-action="dislike" data-qid="{{ question.pk }}"></a>
        </div>
    </div>
    <div class="col-10">
        <a href="{% url 'one_question' pk=question.id %}"><h2>{{ question.title }}</h2></a>
        <span class= "author">Author: {{ question.author.user.username }}</span>
        <span class= "date">{{ question.date }}</span>
        <div class= "text q-text">{{ question.text }}</div>
        <div class="bottom-ans">
        <a href="{% url 'one_question' pk=question.id %}">answer <span class="ans-count">({{ question.answers.all.count }})</span></a>
        <span class="tags">Tags:
            {% for tag in question.tags.all %}
            <a href="{% url 'tagged_questions' str=tag %}">{{ tag }}</a>
            {% endfor %}
        </span>
        </div>
    </div>
</div>