{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Ask{% endblock title %}

{% block content %}
<div class="col-4 q-title">
    <h2>New&nbspQuestion</h2>
</div>

<form class="ask mb-3" action="/ask/" method="post">
           {% csrf_token %}
<div class="mb-3">
    {% bootstrap_form form %}
</div>
    {% buttons %}
<div class="form-btn">
    <button class="btn my-btn" type="submit">Confirm!</button>
</div>
    {% endbuttons %}
</form>
{% endblock content %}

{% block side %}
{% include "include/side.html" %}
{% endblock side %}