{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Log in{% endblock title %}

{% block content %}
<div class="col-4 q-title">
    <h1>Log in</h1>
</div>

{% if alert %}
    <div class="alert alert-danger" role="alert">
        {{ alert }}
    </div>
{% endif %}

<form class="login" action="/login/" method="post">
        {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    <div class="mb-3">
    {% bootstrap_form form %}
    </div>
        {% buttons %}
    <button type="submit" class="btn my-btn">Log in</button>
        <a class= "create_url" href="{% url 'signup' %}">create new account</a>
        {% endbuttons %}

</form>
{% endblock content %}
