{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Settings{% endblock title %}

{% block align %}{% endblock align %}

{% block content %}
<div class="col-4 title-content center">
    <span class="settings">Settings:<span id="pf-name"> Alexandra</span></span>
</div>

<form class="signup center" enctype="multipart/form-data" action="/settings/" method="post">
            {% csrf_token %}
        <div class="mb-3">
    {% bootstrap_form form %}
        </div>
    {% buttons %}
    <button type="submit" class="btn my-btn">Save</button>
    {% endbuttons %}
</form>
{% endblock content %}