{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Register{% endblock title %}

{% block align %}{% endblock align %}

{% block content %}
<div class="col-4 q-title center">
    <h1 class="title-content">Register</h1>
</div>

{% if alert %}
    <div class="alert alert-danger center" role="alert">
        {{ alert }}
    </div>
{% endif %}

<form class="signup center"  enctype="multipart/form-data" action="/signup/" method="post">
            {% csrf_token %}
    <div class="mb-3">
         {% bootstrap_form form %}
    </div>
    {% buttons %}
    <button type="submit" class="btn my-btn">Sign up</button>
    {% endbuttons %}
</form>
{% endblock content %}
