{% extends 'include/base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block align %}{% endblock align %}
{% block content_align %}<div class="center">{% endblock content_align %}

{% block content %}
<div class="col-4 q-title">
    <h1 class="title-content">Register</h1>
</div>

{% if alert %}
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
{% endif %}

<form class="signup">
    <div class="mb-3">
        <label class="form-label">Login</label>
        <input type="text" class="form-control signup-input">
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control signup-input" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">At least 6 symbols</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Nickname</label>
        <input type="text" class="form-control signup-input">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control signup-input">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Repeat password</label>
        <input type="password" class="form-control signup-input" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label  class="form-label">Upload avatar:</label>
        <input type="file" class="form-control signup-input">
    </div>
    <button type="submit" class="btn my-btn">Sign up</button>
</form>
{% endblock content %}
